<!-- EDIT: Footer berada di partial ini -> partials/footer.html -->
<footer>
    <div class="container">
        <a href="#" class="logo">PORTFOLIO<span style="color: var(--secondary);">.</span></a>
        <div class="social-links">
            <a href="#" class="social-link"><i class="fab fa-dribbble"></i></a>
            <a href="#" class="social-link"><i class="fab fa-behance"></i></a>
            <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" class="social-link"><i class="fab fa-github"></i></a>
        </div>
        <p class="copyright">© 2023 Portfolio Kreatif. All rights reserved.</p>
    </div>
</footer>